html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
}
input {
  /* margin-right: 5%; */
  margin-bottom: 5px;
  border: 1px solid;
  border-color: coral;
  border-radius: 15px;
  -moz-border-radius: 15px; /* Old Firefox */
  font-size: 1em;
  transition: width 2s;
  -moz-transition: width 2s; /* Firefox 4 */
  -webkit-transition: width 2s; /* Safari and Chrome */
  -o-transition: width 2s; /* Opera */
}

.row {
  overflow: hidden;
  width: 60%;
  margin: auto;
}

@media screen and (max-width: 720px) {
  .row {
    width: 100%;
  }
}
.left-labal {
  float: left;
  width: 30%;
  text-align: right;
  margin-bottom: 7px;
}
.right-input {
  float: left;
  width: 60%;
  margin-left: 5%;
  margin-bottom: 7px;
}
@media screen and (max-width: 720px) {
  .left-labal {
    margin-bottom: 3px; 
  }
  .right-input {
    margin-bottom: 3px;
  }
}
label {
  color: rgb(0, 0, 0);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
}
/* 可编辑的文本 */
.editable-input {
  height: 40px;
  width: 90%;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (max-width: 720px) {
  .editable-input {
    height: 30px;
    border: 0px;
    box-shadow: 1px 1px 3px grey;
  }
}
/* 复选框 */
.option {
  width: 50%;
  display: block;
  float: left;
}
/* 自我介绍文本域 */
.indroduce {
  resize: none;
  height: 50px;
  width: 88%;
  border: 0px;
    box-shadow: 1px 1px 3px grey;
}
/* logo域 */
.logo {
  text-align: center;
}
.duckyellow {
  width: 10%;
  height: 20%;
}
.form-submit-div {
  text-align: right;
}

/* 提交按钮 */
.submit {
  width: 100px;
  height: 40px;
  margin-right: 20%;
  box-shadow: 1px 3px 2px grey;
  border: 0px;  
}
.tip{
  color: rgb(255, 39, 1);
  position: absolute;
}